<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos Armados</title>
</head>

<body class="body-special">
    <div id="app" style="height: 100%;">
        <router-view></router-view>
    </div>
    <!--<div w3-include-html="js/vue/src/templates/home.html">
        </div>-->
    <div w3-include-html="src/templates/docview.html"></div>
    <div w3-include-html="src/templates/videoview.html">
    </div>
    <div w3-include-html="src/templates/about.html"></div>
    <div w3-include-html="src/templates/collections.html"></div>
    <div w3-include-html="src/templates/collection_list.html"></div>
    <div w3-include-html="src/templates/personas.html"></div>

    <template id="languaje">
        <div class="btn-group" style="float: right; display: inline; width: 30%; margin: 20px 0;">
            <button style="float: right;" class="btn dropdown-toggle btn-languaje" type="button" id="dropdownMenuButton"
                data-toggle="dropdown">
                {{$t(this.$i18n.locale)}} <span class="caret caret-white"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" @click="changeLang('sp')">{{$t('spanish')}}</a>
                </li>
                <li><a href="#" @click="changeLang('en')">{{$t('english')}}</a></li>
            </ul>
        </div>
    </template>
    <template id="home">
        <div class="contained bg" style="height: 100%;">
            <div class="container">
                <armados></armados>
            </div>
        </div>
    </template>
    <template id="mainarmados">
        <div class="first-search">
            <div class="title text-center"> Movimientos Armados en México</div>
            <div class="search-form">
                <div class="row mt-5">
                    <div class="col-12">
                        <input type="text" class="form-control search-input" :placeholder="$t('search_term')"
                            v-model="search" name="keyword" @keyup.enter="send_data()" />
                    </div>
                </div>
                <!--<div class="row mt-4">
                        <div class="col-4">
                            <label for="coleccion">Filtrar por colección:</label>
                        </div>
                        <div class="col-8">
                            <select v-model="collection" class="form-select" name="coleccion" id="coleccion">
                                <option value="todo" >Todo</option>
                                <option value="tesis">Tesis</option>
                            </select>
                        </div>
                    </div>-->
                <div class="row mt-5">
                    <div class="col-2">
                        <label for=""> Buscar en: </label>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="all_fields" checked v-model="search_in">
                            <label class="form-check-label" for="inlineRadio1">Todo</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="description" v-model="search_in">
                            <label class="form-check-label" for="inlineRadio2">Descripción</label>
                        </div>
                        <!--<div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                    value="all_fields" v-model="search_in">
                                <label class="form-check-label" for="inlineRadio3">Texto</label>
                            </div>-->
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                                value="creator" v-model="search_in">
                            <label class="form-check-label" for="inlineRadio4">Autor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                                value="title" v-model="search_in">
                            <label class="form-check-label" for="inlineRadio5">Titulo</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12">
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" @click="send_data">
                                <span class="glyphicon glyphicon-search"></span> Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">
                    <div class="col-12">
                        <ul class="nav nav-search">
                            <li class="nav-item">
                                <!--<a class="nav-link" href="/search">Ver Todo</a>-->
                                <router-link class="nav-link" to="search">Ver Todo</router-linkv>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="personas">Personas Mencionadas</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link class="nav-link" to="about">Sobre el Sitio</router-linkv>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <img src="./src/assets/logo-colmex.png" height="75" width="200" class="rounded mx-auto d-block"
                            alt="COLMEX">
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template id="headers">
        <div class="pt-3">
            <div class="row header">
                <div class="col">
                    <!--<table>
                        <tr>
                            <td>
                                <span class="logo"><img src="src/assets/colmexfavicon.png"></span>
                                <router-link to="/"><span class="movimientos">Movimientos Armados en México</span>
                                </router-link>
                            </td>
                            <td style="width: 42%; padding-top: 35px;">
                                <input type="text" @keyup.enter="search_term" class="search-simple"
                                    :placeholder="$t('search_term')" v-model="search" name="lname" />
                                    <span class="clean_search" @click="clean_search"> Limpiar busqueda</span>
                                
                            </td>
                        </tr>
                    </table>-->
                    <div class="row">
                        <div class="col-7">
                            <span class="logo"><img src="src/assets/colmexfavicon.png"></span>
                                    <router-link to="/"><span class="movimientos">Movimientos Armados en México</span>
                                    </router-link>
                        </div>
                        <div class="col-5" style="padding-top: 14px;">
                            <input type="search" @keyup.enter="search_term" class="search-simple"
                                        :placeholder="$t('search_term')" v-model="search" name="lname" />
                            <!--<span class="clean_search" @click="clean_search"> Limpiar busqueda</span>-->
                        </div>
                    </div>                    
                </div>
                <div class="col-12">
                    <div class="nav-armados">
                        <div class="col-12" style="min-height: 40px;">
                            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent float-end">
                                <div class="container-fluid float-end ">
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item">
                                                <router-link class="nav-link" to="/">Inicio</router-link>
                                                <!--<a class="nav-link " aria-current="page" href="#">Inicio</a>-->
                                            </li>
                                            <li class="nav-item">
                                                <router-link class="nav-link" to="search">Ver Todo</router-link>
                                                <!--<a class="nav-link " aria-current="page" href="#">Ver Todo</a>-->
                                            </li>
                                            <li class="nav-item">
                                                <router-link class="nav-link" to="about">Sobre el sitio</router-link>
                                                <!--<a class="nav-link" href="#">Sobre el sitio</a>-->
                                            </li>
                                            <li class="nav-item">
                                                <router-link class="nav-link" to="personas">Personas Mencionadas</router-link>
                                                <!--<a class="nav-link " href="#">Personas Mencionadas</a>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>                        
                    </div>                    
                </div>                
            </div>
        </div>
    </template>
    <template id="searchview">
        <div class="bg-pages">
            <div class="container" style="height: 100%;">
                <headers :keyword="keyword" :pages="repo.pages" :filter="filter" :search_in="search_in"></headers>
                <div class="contained">
                    <div class="row">
                        <div class="col-3 col-normal">
                            <facets :facets="repo.facets" :type="this.type" :val="this.val" :label="this.label"
                                :params="this.params">
                            </facets>
                        </div>
                        <div class="col-2 col-menu">
                            <facets :facets="repo.facets" :type="this.type" :val="this.val" :label="this.label"
                                :params="this.params">
                            </facets>
                        </div>

                        <div class="col-8 show-all">
                            <!--<search :keyword="keyword" :pages="repo.pages"></search>-->
                            <helperbar :pages="repo.pages" ref="pagination" :total="repo.total_pages"></helperbar>
                            <docs :docs="repo.docs"></docs>
                            <pages :pages="repo.pages" ref="pagination" :total="repo.total_pages"></pages>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </template>
    <template id="docs">
        <div class="docs_view container">
            <div class="row" v-for="doc in docs">
                <router-link class="mt-5 mb-3"
                    :to="{path: 'docs', query: {id: doc.id, has_model: doc.has_model, thumbnail: doc.thumbnail_path_ss, related: doc.hasRelatedMediaFragment, keyword: keyword}}">
                    <h6> <strong>{{ doc.title[0] }}</strong> </h6>
                </router-link>
                <!--<div class="bd-highlight">-->
                <div class="col-md-4">
                    <router-link
                        :to="{path: 'docs', query: {id: doc.id, has_model: doc.has_model, thumbnail: doc.thumbnail_path_ss, related: doc.hasRelatedMediaFragment, keyword: keyword}}">
                        <img class="img-responsive" :src="get_url() + doc.thumbnail_path_ss ">
                    </router-link>
                </div>
                <div class="col-md-7 justify-content-md-center">
                    <!--<table class="table table-docs">
                        <tbody>
                            <tr v-for="(metadata, key, index) in doc" v-if="check_metadata(metadata, key)">
                                <th class="td-tittle" style="text-align: right;">
                                    {{ $t(key) }}
                                </th>
                                <td v-if="isObject(metadata)" style="text-align: left;">
                                    <p v-for="m in metadata">
                                        {{ m }}
                                    </p>
                                </td>
                                <td v-else style="text-align: left;">
                                    <p>
                                        {{ metadata }}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                    <div class="row" v-for="(metadata, key, index) in doc" v-if="check_metadata(metadata, key)">
                        <div class="td-tittle col-5" style="text-align: right;">
                            {{ $t(key) }}
                        </div>
                        <div v-if="isObject(metadata)" class="col-7" style="text-align: left;">
                            <p v-for="m in metadata">
                                {{ m }}
                            </p>
                        </div>
                        <div v-else style="text-align: left;" class="col-7">
                            <p>
                                {{ metadata }}
                            </p>
                        </div>

                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </template>
    <template id="pages">
        <div id="pages-div">
            <nav class="mt-5" aria-label="Paginas disponibles" style="text-align: center;" v-if="pages != undefined">
                <ul class="pagination" v-if="pages.total_count != 0">
                    <li class="page-item" v-if="pages.current_page != 1">
                        <a class="page-link" @click="next_page(pages.prev_page)" href="#">{{$t('previous')}}</a>
                    </li>
                    <li class="page-item disabled" v-if="pages.current_page == 1">
                        <span class="page-link">{{$t('previous')}}</span>
                    </li>
                    <li class="page-item" :class="isCurrent((1))" v-if="pages.current_page > 4"><a class="page-link"
                            @click="next_page(1)" href="#">1</a></li>
                    <li class="page-item disabled" v-if="pages.current_page > 4">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item" :class="isCurrent((page))" v-for="(page,index) in get_pages">
                        <a class="page-link" @click="next_page(page)" href="#">{{ page }}</a>
                    </li>
                    <li class="page-item disabled" v-if="pages.total_pages - pagesArray[pagesArray.length-1] > 9">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item" :class="pages.current_page == pages.total_pages ? 'active' : ''"><a
                            class="page-link" @click="next_page(pages.total_pages)" href="#">{{pages.total_pages}}</a>
                    </li>
                    <li class="page-item" v-if="pages.current_page < pages.total_pages">
                        <a class="page-link" @click="next_page(pages.next_page)" href="#">{{$t('next')}}</a>
                    </li>
                    <li class="page-item disabled" v-if="pages.current_page == pages.total_pages">
                        <span class="page-link">{{$t('next')}}</span>
                    </li>
                </ul>
            </nav>
        </div>
    </template>
    <template id="helperbar">
        <div>
            <div style="margin-top: 10px;" v-if="filters.length > 0">
                <label>{{$t('filters')}}: </label>
                <span class="btn-group appliedFilter constraint filter filter-resource_type_sim"
                    v-for="filter in filters">
                    <span class="constraint-value btn btn-sm btn-default btn-disabled">
                        <span class="filterName">{{filter.key}} > </span>
                        <span class="filterValue" :title="filter.value">{{filter.value}}</span>
                        <!--<a class="btn btn-default btn-sm remove dropdown-toggle" href="#" @click="delete_query(filter.type, filter.value, filter.key)" :title="$t('remove') + ':' + filter.value"><span class="glyphicon glyphicon-remove"></span><span class="sr-only">Remove </span></a>-->
                        <i class="fa fa-times-circle fa-lg close" aria-hidden="true"
                            @click="delete_query(filter.type, filter.value, filter.key)"></i>
                        <!--<button id="close-filter" type="button" class="close" aria-label="Close"
                                @click="delete_query(filter.type, filter.value, filter.key)">
                                <span aria-hidden="true">&times;</span>
                            </button>-->
                    </span>
                </span>
                <a class="remove-all" href="#" @click="delete_all()">Quitar filtros</a>
            </div>
            <div v-if="pages != undefined">
                <div style="width: 96%;display: flow-root;" v-if="pages.total_count != 0">
                    <div class="btn-group paginator-top">
                        <nav aria-label="Paginas disponibles" style="text-align: left; display: inline">
                            <ul class="pagination">
                                <li class="page-item" v-if="pages.current_page != 1">
                                    <a class="page-link" @click="next_page(pages.prev_page)" href="#">
                                        <<&nbsp;{{$t('previous')}} </a>
                                </li>
                                <li class="page-item disabled" v-if="pages.current_page == 1">
                                    <span class="page-link">
                                        <<&nbsp;{{$t('previous')}} </span>
                                </li>
                                <li class="page-item">
                                    <span class="page-link">|&nbsp;{{pages.offset_value + 1}} -
                                        {{(pages.offset_value + paginas) < pages.total_count ? (pages.offset_value +
                                            paginas) : pages.total_count }} de {{pages.total_count}}&nbsp;| </span>
                                </li>
                                <li class="page-item" v-if="pages.current_page < pages.total_pages">
                                    <a class="page-link" @click="next_page(pages.next_page)"
                                        href="#">{{$t('next')}}&nbsp;>></a>
                                </li>
                                <li class="page-item disabled" v-if="pages.current_page == pages.total_pages">
                                    <span class="page-link">{{$t('next')}}&nbsp;>></span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="dropdown order-by">
                        <a style="float: right;" class="btn dropdown-toggle btn-per_pagina" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenu">
                            {{paginas}} {{$t('per_page')}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a class="dropdown-item" href="#" @click="per_pages(10)">10</a></li>
                            <li><a class="dropdown-item" href="#" @click="per_pages(20)">20</a></li>
                            <li><a class="dropdown-item" href="#" @click="per_pages(50)">50</a></li>
                            <li><a class="dropdown-item" href="#" @click="per_pages(100)">100</a></li>
                        </ul>
                    </div>
                    <div class="dropdown order-by">
                        <a style="float: right;" class="btn  dropdown-toggle btn-per_pagina" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenu">
                            {{$t('order_by')}} {{ order }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a class="dropdown-item" href="#"
                                    @click="order_by('score desc, system_create_dtsi desc', 'Relevancia')">Relevancia</a>
                            </li>
                            <li><a class="dropdown-item" href="#"
                                    @click="order_by('date_created_sim desc', 'Año Desc')">Año Desc</a></li>
                            <li><a class="dropdown-item" href="#"
                                    @click="order_by('date_created_sim asc', 'Año Asc')">Año Asc</a></li>
                            <li><a class="dropdown-item" href="#"
                                    @click="order_by('title_sim asc', 'Titulo [A-Z]')">Titulo [A-Z]</a></li>
                            <li><a class="dropdown-item" href="#"
                                    @click="order_by('title_sim desc','Titulo [Z-A]')">Titulo [Z-A]</a></li>
                        </ul>
                    </div>
                </div>
                <div v-else>
                    <h2>No se encontraron resultados.</h2>
                </div>
            </div>
        </div>
    </template>
    <template id="search">
        <div class="input-group">
            <div v-if="search != ''" style="margin-bottom: 20px">La busqueda <strong>"{{search}}"</strong> arrojó
                <strong>"{{pages.total_count}}"</strong> resultados</div>
            <form class="search-form">
                <input type="text" class="form-control search-input" :placeholder="$t('search_term')" v-model="search"
                    name="lname" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-search" @click="search_term">
                        <span class="glyphicon glyphicon-search"></span> {{$t('go')}}
                    </button>
                </span>
            </form>
        </div>
    </template>
    <script type="text/template" id="facetas">
            <nav class="navbar navbar-expand-lg navbar-dark menu-facetas">
                <div class="">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-facetas">
                            <li class="nav-item">
                                <div id="facet-accordion bg-facetas">
                                    <div v-if="facet.items.length > 0" v-for="(facet, index) in facets" class="accordion" id="accordionFacet">
                                        <!--<div class="card-header">-->
                                            <div class="acordion-item ">
                                                <h2 class="acordion-header" :id="'heading' + index">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#facets-'+index" aria-expanded="true" :aria-controls="'facets-'+index">
                                                        {{$t(facet.label.toLowerCase())}}
                                                    </button>
                                                    <!--<a data-toggle="collapse" :href="'#facets-'+index">
                                                        <span class="glyphicon glyphicon-tag"></span>{{$t(facet.label.toLowerCase())}}</a>-->
                                                </h2>
                                            
                                                <div :id="'facets-'+index" class="accordion-collapse collapse show" :aria-labelledby="'heading' + index" data-parent="#accordionFacet">
                                                    <div class="accordion-body">
                                                        <ul class="list-group">
                                                            <li v-for="item in facet.items.slice(0, 5)" class="list-group-item bg-facetas">
                                                                <span v-if="compare_params(facet.name, item.value)" class="facet-label">
                                                                    <span class="selected" @click="delete_query(facet.name, item.value, $t(facet.label.toLowerCase()))">
                                                                    <i class="fa fa-check-square-o fa-lg close" title="Quitar filtro" aria-hidden="true"></i>{{item.label}}</span>
                                                                    <!--<a class="remove" @click="delete_query(facet.name, item.value, $t(facet.label.toLowerCase()))">
                                                                        <span class="glyphicon glyphicon-remove"></span>
                                                                        <span class="sr-only">[remove]</span>
                                                                    </a>-->
                                                                    <!--<button type="button" class="close" aria-label="Close" @click="delete_query(facet.name, item.value, $t(facet.label.toLowerCase()))">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>-->
                                                                </span>
                                                                <span v-else class="facet-label">
                                                                    <a @click="query(facet.name,item.value, $t(facet.label.toLowerCase()))">
                                                                    <i class="fa fa-square-o fa-lg close" title="" aria-hidden="true"></i>{{item.label}}</a>
                                                                </span>
                                                            </li>
                                                            <li class="list-group-item facet-label bg-facetas" v-if="facet.items.length > 5  ">
                                                                <a class="more_facets_link" @click="get_data_facet(facet.name)">{{$t('more')}} <span
                                                                        class="sr-only"></span> »</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>                                
                                </div>
                            </li>
                        </ul>
                        <facetModal v-if="showModal" @query="query" :facet_url="facet_url" :facet_data="facet_data"
                                        :facet_label="facet_label"></facetModal>
                    </div>
                </div>
            </nav>        
        </script>
    <script type="text/template" id="modal-template">
            <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container">
                                <div class="modal-header">
                                    <slot name="header">
                                        {{$t(label_title)}}
                                    </slot>
                                </div>
                
                                <div class="modal-body">
                                    <slot name="body">
                                        <ul class="list-group">
                                            
                                            <li v-for="item in data_local" class="list-item-modal">
                                                <a @click="query(item.value, $t(label_title))">
                                                <span class="facet-label">
                                                    {{item.value}}
                                                </span>
                                                <span style="float: right;" class="facet-label">
                                                    {{item.hits}}
                                                </span>
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </slot>
                                </div>
                
                                <div class="modal-footer">
                                    <slot name="footer">
                                        <nav aria-label="Paginas disponibles" style="text-align: left;">
                                            <ul class="pagination pagination-modal">
                                                <li class="page-item" v-if="isPrev">
                                                    <a class="page-link" @click="prev_page()" href="#">{{$t('previous')}}</a>
                                                </li>
                                                <li class="page-item disabled" v-else>
                                                    <span class="page-link">{{$t('previous')}}</span>
                                                </li>
                                                <li class="page-item" v-if="isNext">
                                                    <a class="page-link" @click="next_page()" href="#">{{$t('next')}}</a>
                                                </li>
                                                <li class="page-item disabled" v-else>
                                                    <span class="page-link">{{$t('next')}}</span>
                                                </li>
                                            </ul>
                                        </nav>
                                        <button type="button" class="btn btn-modal" @click="modal_facets_close()"
                                            data-dismiss="modal">{{$t('close')}}</button>
                                    </slot>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </transition>
        </script>

</body>

<link rel="stylesheet" type="text/css" href="css/style.css">
<!--<link rel="stylesheet" type="text/css" href="/public/js/vue/src/assets/style.css">-->
<script type="text/javascript" src="https://www.w3schools.com/lib/w3data.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/8.14.1/vue-i18n.js"></script>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->
<!-- DEVELOPMENT MODE -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>-->
<!-- PRODUCTION MODE -->
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="css/style-armados.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.6.347/build/pdf.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.6.347/web/pdf_viewer.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
    crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPbdLVfBy79lwLRuStHHH9KQsoBvxj5eE" async
  ></script>
<!--</script>-->
<!--<script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->

<script>
    w3IncludeHTML();
</script>
<script type="module" src="functions.js"></script>
<script type="module" src="main.js"></script>

</html>