<template id="about">
    <div class="bg-pages about-page">
        <div style="background-color: rgb(245 245 245); width: 100%; border-bottom: 5px solid #5E002B;">
            <div class="container">
                <headers :keyword="search" :search_in="search_in" is_page="true"></headers>
            </div>
        </div>
        <div class="container" style="height: 100%;">
            <div class="contained">
                <div class="row">
                    <div class="col">
                        <div class="title">
                            Sobre el Proyecto
                        </div>
                    </div>
                    <div>
                        <div style="background-image: url('src/assets/proyecto_2.jpg'); height: 400px; background-position: 60%; background-size: cover;">

                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <p>
                                La <a href="http://biblioteca.colmex.mx">Biblioteca Daniel Cosío Villegas</a> de&nbsp;<a
                                    href="http://www.colmex.mx/">El Colegio de México</a> ha unido esfuerzos con el <a
                                    href="http://www-01.sil.org/mexico/">Instituto Lingüístico de Verano,
                                    A.C.</a>&nbsp;(ILV) en México para poner a disposición las cartillas de
                                lectoescritura publicadas por el ILV México desde 1940 hasta 1980.&nbsp;Este material
                                fue elaborado para los pueblos originarios de México, y está disponible en formato
                                digital, a través de la Biblioteca Daniel Cosío Villegas de El Colegio de México. El
                                sistema integra un módulo de geolocalización que visualiza las cartillas en referencia a
                                su zona lingüística. Esperamos que esta colección de recursos sirva como fuente de
                                referencia para&nbsp;todos los interesados en el bien y el desarrollo lingüístico de las
                                comunidades indígenas a las cuales servimos.&nbsp;
                            </p>
                            <p class="text-left title">
                                Creditos:
                            </p>
                            <p class="text-left">
                                <strong>Micaela Chávez Villa</strong> - Directora de la Biblioteca
                            </p>
                            <p class="text-left">
                                <strong>Coordinación de Organización de la Información</strong> - Catalogación
                            </p>
                            <p class="text-left">
                                <strong>Alberto Santiago Martínez</strong> - Diseño del sistema
                            </p>
                            <p class="text-left">
                                <strong>Eime Javier Cisneros Brito</strong> - Desarrollo del sistema
                            </p>
                            <p class="text-left">
                                <strong>Paola Vanesa Rosas</strong> - Redacción,&nbsp;revisión de datos y georeferencia
                            </p>
                            <p class="text-left">
                                Apoyo Infraestructura Tecnológica: <strong>Miguel Alejandro Contreras Flores</strong> -Especialista
                                Sistemas de Información Biblioteca Daniel Cosío Villegas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>