<template id="maps">
    <div class="bg-pages about-page">
        <div style="background-color: rgb(245 245 245); width: 100%; border-bottom: 5px solid #5E002B;">
            <div class="container">
                <headers :keyword="search" :search_in="search_in" is_page="true"></headers>
            </div>
        </div>
        <div class="container" style="height: 100%;">
            <div class="">
                <div class="row">
                    <div class="col">
                        <div class="title">
                            <span class="material-symbols-outlined">
                                pin_drop
                            </span>
                            Encuentra por ubicacion
                        </div>
                    </div>
                    <!--<div id="map" ref="map">
            
                    </div>-->
                    <div>
                        <div style="background-color: whitesmoke;">
                            <div id="maps" ref="maps" style="height: 600px; width: 75%; float:left">
            
                            </div>
                            <div style="width: 25%; float: left; background-color: #FFFFFF; min-height: 600px; max-height: 600px; overflow-y: scroll;">
                                <ul id="item-list" class="map-list">
                                    
                                </ul>                            
                            </div>
                        </div>                        
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
            