<template id="videoview">
    <div class="videos" style="">
        <div class="row">
            <!--<router-link :to="{path: 'docs', query: {id: doc.id, has_model: doc.has_model, thumbnail: doc.thumbnail_path_ss, related: doc.hasRelatedMediaFragment}}">
                <h3> {{ doc.title[0] }} </h3>
            </router-link>-->
            <div class="col-sm-6" v-for="doc in repo.docs">
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-fill-md bd-highlight">
                        <!--<img class="img-responsive" :src="get_url() + doc.thumbnail_path_ss ">-->
                        <video width="500" :src="get_url() + 'downloads/' + doc.file_set_ids +'?file=webm&locale=es'" controls>
                            <source :src="'/downloads/' + doc.file_set_ids +'?file=webm&locale=es'" type="video/webm">
                                <source :src="'/downloads/' + doc.file_set_ids +'?file=mp4&locale=es'" type="video/mp4">                    
                                Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <!--<div class="p-2 flex-fill bd-highlight">
                    <table class="table table-docs">
                        <tbody>
                            <tr v-for="(metadata, key, index) in doc" v-if="check_metadata(metadata, key)">
                                <th style="text-align: right;">
                                    {{ $t(key) }}
                                </th>
                                <td v-if="isObject(metadata)" style="text-align: left;">
                                    <p v-for="m in metadata">
                                        {{ m }}
                                    </p>
                                </td>
                                <td v-else style="text-align: left;">
                                    <p>
                                        {{ metadata }}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->
            </div>
        </div>
    </div>
</template>
